<div class="container">

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
          <th>Completed</th>
          <th>Assigned To</th>
        </tr>
        <tbody *ngFor="let task of tasks">

          <tr>
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.due_date | date: 'yyyy-MM-dd'}} </td>
            <td>{{task.completed}}</td>
            <td>{{task.assigned_to}}</td>
            <td> <i class="bi bi-check"></i></td>

            <td><input type="checkbox" /></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
